body{
  background-image: linear-gradient(to left top, #9d1cc2, #9319c1, #8916c0, #7e13bf, #7311be, #5c31c9, #3f43d1, #0051d6, #006bdc, #007fda, #0090d1, #149fc6);
}

#sub{
  background-image: linear-gradient(to left top, #0945cf, #0053d3, #0060d6, #006cd8, #0077d8, #0083db, #008edc, #0099dc, #00a6dd, #00b3d9, #00bed1, #1ec8c8);
}

#main-header{
  background-image: linear-gradient(to right, #4848e3, #4142e1, #3a3dde, #3237dc,
   #2931d9, #1f35d8, #1339d8, #003cd7, #0047d6, #0051d5, #065ad2, #1c62cf);
}