#con{
  border: 2px solid #101e35;
  border-radius: 15px;
  background:	#0b1424;
  color: white;
}

#con input[type = "text"], #con input[type = "number"],  #con input[type = "submit"]{
  border-radius: 24px;
  border: 2px solid #318ecc;
  color: white;
  background: #101f38;
  text-align: center;
}

#con #sub button, #con #calculateBtn button, #con #updateInput button{
  border-radius: 24px;
  color: #ebefd0;
  background: #1b345f;
  border: 2px solid #318ecc
}

#con #edit button{
  border-radius: 20px;
  margin-left: 3px;
  outline: none;
}

#con input[type = "submit"]:hover, #con input[type = "number"]:hover, #con input[type = "text"]:hover{
  border-color:  #2abb67;
}

#con #calculateBtn button:hover, #con #updateInput button:hover{
  border-color:  #2abb67;
}

#form1, #form2{
  text-align: center;
  color: white;
}

body{
  background: #20354b;
}

#con #updateInp input{
color: white;
}