#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 height: 125px;
 text-align: center;
}

#main-footer{
  background-color: rgb(153, 153, 153);
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}